*.python linguist_vendored=true
*.py linguist_vendored=true
*.python linguist-detectable=true
*.py linguist-detectable=true

*.c linguist-detectable=false
*.c linguist_vendored=false
*.h linguist_vendored=false
*.c linguist-language=Python




